

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.btn-primary {
  border-radius: 30px;
  border: none;
  width: 200px;
  height: px;
  background: #ff6c6c 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003e;
  opacity: 1;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Jumbotron*/
.jumbo-design {
  background: #fc8686;
}

.jumbo-image {
  z-index: 2;
  opacity: 1;
}

.jumbo-text {
  letter-spacing: 0px;
  color: #fc8686;
  opacity: 1;
}

/*for small screens*/
@media screen and (max-width: 767px) {
  .jumbo-design {
    height: 140pt;
  }

  #navbar-heading {
    display: none;
  }

  .jumbo-image {
    top: -90px;
    display: block;
    padding-left: 9%;
  }

  .jumbo-image img {
    width: 228pt;
    height: 174pt;
  }

  .jumbo-text {
    text-align: center;
    font: Bold 36px/41px Gill Sans;
  }
}

/*for md screens (ipad)*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .jumbo-design {
    background: #fc8686;
    height: 490px;
    width: 100px;
  }

  .jumbo-image {
    top: 75px;
    left: 150px;
    right: 10px;
  }

  .jumbo-image img {
    width: "488";
    height: "400";
  }

  .jumbo-text {
    top: 80px;
    left: 50px;
    width: 812px;
    height: 153px;
    text-align: left;
    font: Bold 36px/41px Gill Sans;
  }
}

/*for large screens (laptops)*/
@media screen and (min-width: 1025px) and (max-width: 1435px) {
  .jumbo-design {
    background: #fc8686;
    height: 600px;
    width: 100px;
  }

  .jumbo-image {
    top: 80px;
    left: 200px;
    right: 20px;
  }

  .jumbo-image img {
    width: "521";
    height: "427";
  }

  .jumbo-text {
    top: 150px;
    left: 140px;
    width: 812px;
    height: 153px;
    text-align: left;
    font: Bold 36px/41px Gill Sans;
  }
  .head {
    display: none;
  }
}

/*for x-large screens(macintosh)*/
@media screen and (min-width: 1436px) {
  .jumbo-design {
    background: #fc8686;
    height: 600px;
    width: 100px;
  }

  .jumbo-image {
    top: 80px;
    left: 350px;
    right: 10px;
  }

  .jumbo-image img {
    width: "521";
    height: "427";
  }

  .jumbo-text {
    top: 150px;
    left: 126px;
    width: 812px;
    height: 153px;
    text-align: left;
    font: Bold 42px/47px Gill Sans;
  }
  .head {
    display: none;
  }
}

/*NAVBAR*/
.navbar-dark {
  background-color: #fc8686;
}

.nav-link {
  margin-left: 10px;
  text-align: left;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #0000003d;
  opacity: 1;
}

#navbar-heading {
  padding-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
}

.dropdown-menu {
  background-color: #fd9e9e;
}

.dropdown-item {
  color: #ffffff;
}

#navbar-heading {
  font-family: "IBM Plex Sans", sans-serif;
}

/* footer */
.footer {
  position: relative;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fc8686;
  opacity: 1;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: none;
  
}

.container {
  margin-top: 40px;
}

span a:hover {
  text-decoration: none;
  color: pink;
}

.footer-item a {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-right: 20px;
}

.icon {
  color: #ffffff;
  opacity: 1;
  margin-right: 20px;
}

.web-design {
  font-size: 12px;
  margin-bottom: 10px;
}

/*description*/
.description-heading{
  font: Bold 40px/46px Gill Sans;
  border-right: 1px solid black; 
  color: #FF6C6C;
}

.description-text{
  font: Regular 32px/36px Gill Sans;
  letter-spacing: 0px;
  color: #FC8686;
  opacity: 1;
}

@media screen and (min-width:768){
  .description-heading{
    border-right: 4px solid black; 
    text-align: right;
  }

  .description-text{
    text-align: left;
  }
}

@media screen and (max-width:767){
  .description-heading{
    text-align: center;
  }
}


/* about page  */
.about {
  color: #fc8686;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.head {
  color: #fc8686;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}
.about h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutimg {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 766px) {
  .about h2 {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .head {
    display: none;
  }
}




/*contactpage*/

.btn-info{
  border-radius: 30px;
  border: none;
  background: #FF6C6C 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003E;
  opacity: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100px;
}

.contact-heading{
  font: normal normal normal Gill Sans;
  font-size: 30px;
  letter-spacing: 0px;
  color: #FA5F5F;
  opacity: 1;
  }
  
  .contact-text{
  font: normal normal normal  Gill Sans;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FC8686;
  }
  
  .contact-text-bold{
  font: normal normal Gill Sans;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FA5F5F;
  }



@media screen and (min-width:768px ){
.contact-heading{
text-align: left;
}

.contact-text{
text-align: left;
}

.contact-text-bold{
text-align: left;
}

}

@media screen and (max-width:767){
  .contact-heading{
    text-align: center;
    }
    
    .contact-text{
    text-align: center;
    }
    
    .contact-text-bold{
    text-align: center;
    }

  
}



